<body class= "body">
  <div *ngIf="jwtService.showErrorMessage">
    <h1>Invalid username and password Please try again</h1>
  </div>
    <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="example-form" [formGroup] = 'form' (ngSubmit)="onsubmit()">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                   
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email"  name="username" formControlName="email">
                    <mat-error *ngIf="form.get('email').hasError('required')">You must enter the email</mat-error>
                    <mat-error *ngIf="form.get('email').hasError('email')">Enter a valid email</mat-error>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" name="password" formControlName="password">
                  <mat-error *ngIf="form.get('password').hasError('required')">You must enter the password</mat-error>
                 
                </mat-form-field></td>
              </tr></table>
              <div class="button-row">
              <button mat-raised-button type="submit" >Login</button>
              <button mat-raised-button type="reset" >Reset</button>
              </div>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          </mat-card-content>
          
        </mat-card>
      </body>
    
        
       
