<body class="body">
<button  mat-raised-button class="addTodo" (click)= "addTodo()" >Add a New Task</button>

<div class = "row">

<div class=" col-md-3">
  <h2 class="h1Style" >To Be Completed</h2>
<mat-card class="example-card" *ngFor = "let todo of uncompleteArray">
 
    <mat-card-header>
      <mat-card-title>{{todo.title}}</mat-card-title>
      <mat-checkbox class="checkbox"  (click) = "markDone(todo)" value="{{todo.id}}">Mark as done</mat-checkbox>
    </mat-card-header>
    <mat-card-content>
      <div class = "row">
        <a class="asd">Decription : </a> 
          {{todo.description}}
          
      </div>
      <div class = "row">
        <a class="asd">Due Date : </a>   {{todo.dueDate | date : 'medium' }}
        
    </div>
    <div class = "row">
      <a class="asd">Priority : </a>  {{todo.priority}}
        
    </div>
    <div class = "row">
      <a class="asd">Status : </a>  {{todo.status}}
        
    </div>

    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
          
        <button mat-raised-button class="btn1" (click) = "onEdit(todo.id)" value="{{todo.id}}" >Edit</button>
     
        <button mat-raised-button class="btn2" (click) = "openDialog(todo.id)" value="{{todo.id}}" >Delete</button>
      
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<div class=" col-md-3">
  <h2 class="h2Style">Completed Tasks</h2>
  <mat-card class="example-card" *ngFor = "let todo of completeArray">
    <mat-card-header>
      <mat-card-title>{{todo.title}}</mat-card-title>
      <mat-checkbox class="checkbox" [checked]="true" (click) = "markUnDone(todo)" value="{{todo.id}}">Mark as Undone</mat-checkbox>
    </mat-card-header>
    <mat-card-content>
      <div class = "row">
        <a class="asd">Decription : </a> 
          {{todo.description}}
          
      </div>
      <div class = "row">
        <a class="asd">Due Date : </a>   {{todo.dueDate | date : 'medium'  }}
        
    </div>
    <div class = "row">
      <a class="asd">Priority : </a>  {{todo.priority}}
        
    </div>
    <div class = "row">
      <a class="asd">Status : </a>  {{todo.status}}
        
    </div>
     
         
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
          
        <button mat-raised-button class="btn1" (click) = "onEdit(todo.id)" value="{{todo.id}}" >Edit</button>
     
        <button mat-raised-button class="btn2" (click) = "openDialog(todo.id)" value="{{todo.id}}" >Delete</button>
      
      </div>
     
    </mat-card-actions>
  </mat-card>
</div>
</div>

</body>