.example-card
  {
    /* background: url('/assets/asset/img/lll.jpg'); */
    width: 70%;
    height:40%
    /* left : 100px;
    top : 50px; */
  }
  /* .mat-form-field {
    width: 100%;
  } */